<!DOCTYPE html>
<html lang="en">
  <head>
    <title>:: DédiMédia-Web : {{title}} ::</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/bootstrap-notify.css">
    <style media="screen">{% block style %}{% endblock %}</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{path_for('home')}}" class="navbar-brand">DédiMédia-Web</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="{{path_for('series')}}">Séries</a></li>
          <li><a href="{{path_for('movies')}}">Films</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <input type="text" class="form-control" data-provide="typeahead" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding:0;">
          <div class='notifications top-right'>
            {% for type,msg in flash('Flash') %}
              <div class="alert alert-{{type}}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ msg }}
              </div>
            {% endfor %}
          </div>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://localhost:54343/livereload.js" charset="utf-8"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-typeahead.min.js" charset="utf-8"></script>
    <script type="text/javascript">{% block js %}{% endblock %}</script>
    <script type="text/javascript">
    $(document).ready(function(){
  		$( "input.form-control" ).autocomplete({
  			source: function( request, response ) {
  				$.ajax( {
  					url: "/series/search",
            folder: true,
  					dataType: "json",
  					data: {
  						term: request.term
  					},
  					success: function( data ) {
  						response(data);
  					}
  				});
  			},
  			minLength: 2,
        select: function( event, ui ) {
          window.location.href = "/series/"+ui.item.id+"/";

        }

  		} );
    });
    </script>
  </body>
</html>
