{% set title %}Series - {{tvdb.serie.name}}{% endset %}
{% extends "layout.twig" %}
{% block style %}
  .episode-detailed{padding-top:20px}
  .episode-detailed .episode{margin-bottom:10px}
  .episode-detailed .episode-inner{position:relative;background:transparent no-repeat center center;background-size:cover;padding:5px}
  .episode-detailed .episode-content{background-color:rgba(0,0,0,0.5);padding:15px;color:#dedede}
  .episode-detailed .episode-content h3,.episode-detailed .episode-content h4{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
  .episode-detailed .episode-content h3{margin-top:0}
  .episode-detailed .episode-content h4{padding:5px 0}
  .episode-detailed .episode-status{position:absolute;top:5px;right:40px}
  .episode-detailed .episode-actions{position:absolute;bottom:-20px;padding-left:40px;left:0;right:-40px;z-index:10}
  .episode-detailed,.episode-list{padding-top:20px}
  .episode-detailed .episode-overview,.episode-list .episode-overview{height:60px;overflow:hidden}
  .episode-detailed .episode-content,.episode-list .episode-content{overflow:hidden}
  .episode-list .episode{position:relative}
  .episode-list .episode-status{position:absolute;top:8px;left:30px}
  .episode-list .episode-overview{margin-bottom:20px;height:120px}

  .series{padding-top:50px}
  .series-container{position:relative;margin-bottom:5px}
  .series-inner{position:relative;background:no-repeat top center; background-size:cover; padding:15px}
  .series-content{padding:30px 15px;color:#dedede}
  .series-status{position:absolute;top:0;right:30px}
  .series-actions{position:absolute;top:8px;left:30px;z-index:10}
  .search-result{padding-top:30px;padding-bottom:15px;border-bottom:1px solid #eee}
  .search-result.even{background-color:#fbfbfb}
  .search-result:hover{background-color:#eee}
  .search-result img{opacity:.8}
  .search-result:hover img{opacity:1.0}
  .series-content h1,.series-content h3{ margin-top:0px; margin-bottom:5px;}
  .series-content h2{margin-top:15px;}
  .search-result .series-overview{height:120px}
  .firstAired{text-transform: capitalize;}
  .lead, .series-genres {font-size:15px; margin-top:0;}
{% endblock %}
{% block content %}
<div class="container-fluid" style="padding:0;">
  <div class="series-container">
      <div class="series-inner" style="background: linear-gradient(to bottom right, {% for key, color in palette %}{% if key != 2 %}rgb({{color.0}}, {{color.1}}, {{color.2}}){% if key == 0 %},{% endif%}{% endif%}{% endfor %});">
          <div class="series-content">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h1 class="series-title">{{tvdb.serie.name}}</h1>
                    <h4 class="series-genres">
                      {% for key, genre in tvdb.serie.genres %}
                        {{genre}}{% if not loop.last %},{% endif %}
                      {% endfor %}
                    </h4>
                    <div class="series-detail">
                      <h2>Synopsis</h2>
                      <p class="lead">{{tvdb.serie.overview}}</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:right;">
                    <h2>Production</h2>
                    <dl>
                        <dt>Chaîne :</dt>
                        <dd><span class="label label-default"><em>{{tvdb.serie.network}}</em></span></dd>
                        <dt>Première diffusion :</dt>
                        <dd><small class="firstAired">{{tvdb.serie.firstAired.date|date('l d F Y')}}</small></dd>
                        <dt>Diffusée le :</dt>
                        <dd><small>{{tvdb.serie.airsDayOfWeek}} à {{tvdb.serie.airsTime|date("H\\hi")}}</small></dd>
                        <dt>Notée :</dt>
                        <dd><span class="label label-info">{{tvdb.serie.rating}}</span></dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                  <div class="text-right">
                    <h2>Actions</h2>
                    {% if serie != null %}

                      {% if config.GUI.display_show_specials == 0 %}
                        <a class="btn btn-default" href="{{ path_for('paused', {'tvdbId': tvdb.serie.id,'etat': 0}) }}">
                          <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                          Afficher les extras
                        </a>
                      {% else %}
                        <a class="btn btn-default" href="{{ path_for('paused', {'tvdbId': tvdb.serie.id,'etat': 0}) }}">
                          <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
                          Cacher les extras
                        </a>
                      {% endif %}
                      {% if serie.paused == 1%}
                        <a class="btn btn-success" href="{{ path_for('paused', {'tvdbId': tvdb.serie.id,'etat': 0}) }}">
                          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                          Reprendre
                        </a>
                      {% else %}
                        <a class="btn btn-warning" href="{{ path_for('paused', {'tvdbId': tvdb.serie.id,'etat': 1}) }}">
                          <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                          Pause
                        </a>
                      {% endif %}
                      <a class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        Editer
                      </a>
                      <a class="btn btn-danger" href="{{ path_for('delete', {'tvdbId': tvdb.serie.id}) }}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Retirer
                      </a>
                    {% else %}
                      <a class="btn btn-success" href="{{ path_for('add', {'tvdbId': tvdb.serie.id}) }}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Ajouter
                      </a>
                    {% endif %}
                </div>
                </div>
            </div>
          </div>
      </div>
  </div>
<div>
<div class="container-fluid">
  <ul class="nav nav-pills">
    {% for key, episodes in tvdb.episodes %}
      {% if config.GUI.display_show_specials == 0 and key == 0 %}
      {% else %}
        <li {% if key == 1 %}class="active"{% endif %}>
          <a data-toggle="tab" href="{% if key == 1 %}#home{% else %}#season{{key}}{% endif %}">
            {% if key == 0 %}Extra{% else %}Saison {{key}}{% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="episode-detailed row">
    <div class="tab-content">
      {% for key, episode in tvdb.episodes %}
        {% if config.GUI.display_show_specials == 0 and key == 0 %}
        {% else %}
          <div id="{% if key == 1 %}home{% else %}season{{key}}{% endif %}" class="tab-pane {% if key == 1 %}in active{% endif %}">
          {% for key, ep in episode %}
              <div class="episode col-xs-12 col-sm-6 col-md-4">
                <div class="episode-inner" style="background-image:url('{% if ep.thumbnail != null %}http://thetvdb.com/banners/{{ep.thumbnail}}{% else %}http://thetvdb.com/banners/{{tvdb.serie.fanArt}}{% endif %}');">
                  <div class="episode-content">
                    <h3>{{tvdb.serie.name}}</h3>
                    <h4><span class="label label-info">S{{ep.season}}E{{ep.number}}</span> {{ep.name}}</h4>
                    <h6>{{ep.firstAired.date|date("l d F Y")}}</h6>
                    <p class="episode-overview">
                        {{ep.overview}}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
